<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday wish Template</title>
    <link rel="stylesheet" href="/stylesheet/urlpage.css">
</head>
<body>
    <div class="container">
        <h1>Happy Birthday, <span id="recipient-name"></span>!</h1>
        <p>Sent your birthday wish with your friend  <span id="age"></span> birthday.</p>
        <p><span id="message"></span></p>
        
      

    <form action="/submit-form" id="myForm" onsubmit="submitForm(event)" method="POST" enctype="multipart/form-data">

        <input class="input-group"type="text" name="wisher" placeholder="Enter your first name">
        <input class="input-group"type="text" name="recipientName" placeholder="Enter birthday person name">
        {{!-- <input class="input-group"type="number" name="age" placeholder="Enter your age"> --}}
        <textarea name="message" placeholder="Enter your message for your birthday person"></textarea>
        <input class="input-group"type="file" name="image" accept="image/*">
        <button class="button" type="submit">Submit</button>
        
      </form>

      <div class="unique_url"id="uniqueLink"></div>

      {{!-- <img src="/uploads/1678524713407-pexels-designecologist-1779487.jpg" alt="this is your image ">
      <img src="/uploads/photo.png" alt="this is your second image">
      <img src="/uploads/vvvcv.jpg" alt="this is my vvcv image"> --}}
   
  <!-- <div><p>{{url}}</p></div> -->
       {{!-- <script src="../src/linkurl.js"></script> --}}










       
       
 <script>

async function submitForm(event) {
    event.preventDefault(); // Prevent form from submitting
    
    // Get form data
    const formData = new FormData(document.getElementById('myForm'));
    
    try {
      const response = await fetch('/submit-form', {
        method: 'POST',
        body: formData
      });
    
      const url = await response.text();
      // Display unique URL on form page
      document.getElementById('uniqueLink').innerHTML = ` Your unique URL is: <span href="">${url}</span>`;
    } catch (error) {
      console.error(error);
    }
  }
  
 </script>
        

</body>
</html>